body{
    background-color: hsl(212, 45%, 89%);
}
.center{
    background-color: #fff;
    min-height: 598px;
    max-width: 380px;
    margin: auto;
    margin-top: 140px;
    padding: 16px;
    border-radius: 28px;
}
img{
    height: 370px;
    width: 370px;
    display: block;
    margin: auto;
    border-radius: 15px;
}
h1{
    color: hsl(218, 44%, 22%);
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 1.8em;
    max-width: 360px;
    text-align: center;
    margin:  28px 9px 10px 9px;
}
p{
    color: hsl(220, 15%, 55%);
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    max-width: 322px;
    margin: 22px 28px;
}
.attribution{
    text-align: center;
    margin: 20px;
}
.attribution a {
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}
.attribution a:hover{
    text-decoration: underline;
}